body {
  display: flex;
  background-color: black;
  justify-content: center;
}

.menu {
  font-family: "Press Start 2P", cursive;
  background-color: rgb(108, 113, 122);
  font-size: 8px;
  display: none;
  border: solid white 5px;
  color: white;
  height: 300px;
  width: 500px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  margin-top: 50px;
}

.titleText {
  display: flex;
  color: white;
  /* border: solid white 1px; */
  height: 100px;
  width: 500px;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}

.subtitleText {
  display: none;
  color: white;
  /* border: solid white 1px; */
  height: 100px;
  width: 500px;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.buttonWrapper {
  /* border: solid white 1px; */
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

button {
  font-family: "Press Start 2P", cursive;
  display: flex;
  background-color: black;
  border: solid white 3px;
  height: 60px;
  width: 150px;
  color: white;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 18px;
}

button:hover {
  margin-top: 1px;
}

.dots {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* background-color: white; */
  position: absolute;
  transition: top 0.5s, left 0.5s;
  transition-timing-function: linear;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  z-index: -1;
}

embed {
  width: 0px;
  height: 0px;
}
