body {
  display: flex;
  background-color: rgb(108, 113, 122);
  justify-content: center;
}

.menu {
  font-family: "Press Start 2P", cursive;
  font-size: 8px;
  display: flex;
  border: solid white 5px;
  height: 300px;
  width: 500px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  margin-top: 50px;
}

.titleText {
  display: flex;
  color: white;
  /* border: solid white 1px; */
  height: 100px;
  width: 500px;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}

.buttonWrapper {
  /* border: solid white 1px; */
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

button {
  font-family: "Press Start 2P", cursive;

  display: flex;
  background-color: rgb(108, 113, 122);
  border: solid white 3px;
  height: 60px;
  width: 150px;
  color: white;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 18px;
}

button:hover {
  margin-top: 1px;
}
